---
import type { IElement, Post } from "@/types";
import { getLocaleTime } from "@/util";
export interface Props extends IElement {
	post: Post;
}

const {
	post: { title, description, url, publishDate },
	as: Element = "div",
} = Astro.props as Props;
const date = new Date(publishDate);
const datetime = date.toISOString();
const postDate = getLocaleTime(date, { month: "short" });
---

<Element>
	<a
		href={url}
		class="inline-block cactus-link line-clamp-1"
		target="_blank"
		rel="noopener noreferrer"
	>
		{title}
	</a>
</Element>
<q class="block italic line-clamp-3">{description}</q>
<time datetime={datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
